<h1>Here are the tasks</h1>

<table class="table table-hover">
  <tr>
    <th>
      Task
    </th>
    <th>
    </th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= link_to "#{task.name}", "/tasks/#{task.id}" %></td>
      <td><%= button_to "Delete", "tasks/#{task.id}", :method => :delete,
      class: "btn btn-default", :onclick => 'alert("You sure?")' %></td>
    </tr>
  <% end %>
</table>

<%= button_to "Add a task", "/tasks/new", :method => :get, class: "btn btn-default btn-lg"%>
