<% if @edit %>
  <h1>Edit a Task</h1>
<% else %>
  <h1>Add a Task</h1>
<% end %>

<% if @edit %>
  <%= render 'edit_task' %>
<% else %>
  <%= render 'new_task' %>
<% end %>

<%= render 'home_button' %>
