<h1>Here is One Task</h1>
<h3>
  <%= @task.name %>:
</h3>
<ul>
  <li>Description: <%= @task.description %></li>
  <li>Completion Status:
    <% if @task.done_date.nil? %>
      not complete
    <% else %>
      completed on <%= @task.done_date %>
    <% end %>
    </li>
</ul>
