<!DOCTYPE html lang="en">
<html>
  <head>
    <title>Taskslist</title>
    <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> -->
    <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
    <!-- <%= csrf_meta_tags %> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </head>
  <header>
    <h1 class="text-center">Welcome to Your To Do List</h1>
  </header>
  <body>

    <div class="container">
      <%= yield %>
    </div>

  </body>
  <footer>
  </footer>

</html>
